<<<<<<< HEAD
html,body{
		height: 100%;
}

body{
			background: linear-gradient(#5B2071, #a43b76) no-repeat;
}
=======
body{
	background-color: #696969;
}

>>>>>>> 00e55643c33ba7313b41adf01203942d235b12d3
#test {
	width: 150px;
	height: 50px;
	border-radius: 50px;
	margin-left: 43%;
	margin-top:250px;
		 transition: 1.4s
}
 
 #test:hover{
 
 background-color: red;
 }