/*такое чувство, будто вы скопировали это из какого то туториала, или вы очень активно комментите*/
html,body{
	height: 100%;
}

body{
	background: linear-gradient(#5B2071, #a43b76) no-repeat;
}

body{
	background-color: #696969;
}

.headLi ul{
	float: right;
}
.headLi li{
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.5);
	font-family: Arial;
	display: inline; /* Отображать как строчный элемент */
	border-radius: 10px;
    margin-right: 10px; /* Отступ слева */
    border: 2px solid #000; /* Рамка вокруг текста */
    padding: 5px; /* Поля вокруг текста */
	height: 35px;
	float: right;
	text-align: center;
}

a.headA :active, /* активная/посещенная ссылка */
a.headA :hover, 
a.headA  /* при наведении */
{
 	text-decoration:none;
}
